@Layout = NULL
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

</head>
<body>

    <div class="header">
        <div class="navbar">
            <ul>
                <li>
                    Animag
                </li>
                <li>Sign In</li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div id="magazine">
            <div class="hard">Hello</div>
            <div>page1</div>
            <div>page1</div>
            <div>page1</div>
            <div>page1</div>
            <div>page1</div>
        </div>
    </div>
    <div></div>




    <script type="text/javascript">
        $("#magazine").turn({
            width: 400,
            height: 300,
            autoCenter: true
        });
    </script>
</body>

</html>
